.booktitle{
    background-color: rgb(65, 140, 238);
    color: azure;
    font-size:40px;
    padding: 3%;
    line-height: 1;
    display: block;
}
table.resumeheaders{
    padding-left: 10px;
}
.resumeheaders, .resumeheaders tr, .resumeheaders tr th{
    border-style: none;
    border: 0;
    border-color:transparent;
    border-spacing: 0px;
    padding: 0;
    margin: 0;
}
.resumeheaders tr th + th{
    text-align: right;
}

ul li{
    text-align: justify;
}

html, body, p {
    font-family: warnock-pro,Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif
}
p{
    padding-left: 10px;
}
body{
    padding: 30px
}

.headerimage{
    padding:0;

}

.popupauthor{
    border: white;
    margin-top: -30px;
    margin-right: -10px;
    position: relative;
    z-index: 2;
    float: right;
    width: 30%;
    border-radius: 50%;
    border: 3px solid white;
}

.clearfix{
    clear: both;
    display:inline-block;
}

footer{
    bottom: 10px;
}