.booktitle{
    background-color: rgb(65, 140, 238);
    color: azure;
    font-size:40px;
    padding: 3%;
    padding-right: 20%;
    line-height: 1;
    display: block;
    font-family: 'Cormorant Garamond', sans-serif;
    margin-bottom: 3px;
    border-radius: 5px;
}

.headerwrapper{
    filter: drop-shadow(1px 1px 4px hsla(0, 0%, 55%, 0.453));
}

.subtitle{
    margin-top: 10px
}
table.education{
    margin-top: 10px;
}

header li{
    list-style-type: '';
    margin-bottom: 13px;
    margin-left: -40px;
}


header li > *{
    margin: 0;
    background: #f2f2f2;
    padding: 5px;
    padding-bottom: 4px;
    border-radius: 4px;
    color:#333;
    /*box-shadow: #6d6d6d6e 1px 1px 4px;*/
    border: #e4e4e4;
    border-style: solid;
    border-width: 0.5px;
}

header li > *:hover{
    box-shadow: none;
    color:#39c
}


.headerquote{
    font-style: italic;
    text-align: center;
    border: #d2d2d2;
    border-style: solid;
    border-width: 0.5px;
    padding: 5px;
    background: #eaeaea63;
    border-radius: 3px;
    margin-top:40px;
    /*box-shadow: #6d6d6d6e 1px 1px 4px;*/
}

.resumeheaders, .resumeheaders tr, .resumeheaders tr th{
    border-style: none;
    border: 0;
    border-color: transparent;
    border-spacing: 0px;
    padding: 0;
    margin: 0;
}

table.resumeheaders{
    padding-left: 10px;
    margin-bottom: 10px;
}

.resumeheaders tr th > *{
    padding: 0;
    line-height: 1;
    margin-bottom: 10px;
}

.resumeheaders tr th + th{
    text-align: right;
    vertical-align: top;
}

ul li{
    text-align: justify;
}

html, body, p {
    font-family: warnock-pro,Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif
}

p{
    padding-left: 0px;
}

body{
    padding: 30px
}

.headerimage{
    padding:0;
    margin-bottom: -10px;
}

.backgroundimage{
    position: fixed;
    display: flex;
    left:0;
    z-index: -2;
    opacity: 4%;
    flex-shrink: 0;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    min-width: 1456px;
    min-height: 100%;
    width: 100%;
    height: auto;
    filter: grayscale(80%);
}

.bgimgwrapper{
    width:auto;
    height:auto;
}

.popupauthor{
    border: white;
    margin-top: -15%;
    margin-right: -2%;
    position: relative;
    z-index: 2;
    float: right;
    width: 30%;
    border-radius: 50%;
    border: 5px solid white;
}

section{
    border:1px solid #e5e5e5;
    border-width: 0px;
    border-bottom-width: 1px;
    margin-bottom: 40px;
    padding-bottom: 5px;
}

.clearfix{
    clear: both;
    display:inline-block;
}

.publication{
    text-align: justify;
    text-indent: -20px;
    margin-left: 20px;
}
em{
    font-style: normal;
    color: inherit;
    text-decoration: underline;
    text-decoration-color: #49c2ff4f;
    text-underline-offset: 2px;
  }

footer{
    bottom: 10px;
}